.navbar {
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 50px;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-menu a:hover {
    text-decoration: underline;
  }
  
  .navbar-welcome {
    color: #fff;
  }
  
  .logout-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #777;
  }
  